<% include ./partials/header.ejs %>
   
    <div class='container'>
        <div class='row'>
            <h3 class="center-text">Sign in to Shoppie</h3>
            <div class="form-size">
                <form action='/register' method='POST'>
                    <div class='form-group'>
                        <input class='form-control' type='text' name='username' placeholder='Username or Email'>
                    </div>
                    <div class='form-group'>
                        <input class='form-control' type='password' name='password' placeholder='password'>
                    </div>
                    <div class='form-group'>
                        <button class='btn btn-primary btn-md btn-block'>Log In</button>
                    </div>
                    <p class='hr-text'>or</p>
                    <div class='form-group'>
                        <button class='btn btn-success btn-md btn-block'>Create New Account</button>
                    </div>
                    <a>Forgot account?</a>
                </form>
            </div>
        </div>
    </div>
    
<% include ./partials/footer.ejs %>