.form-size {
    width: 30%; 
    margin: 20px auto;
}

.center-text {
    text-align: center;
}

.hr-text {
    display: flex;
    color: rgb(230, 230, 230);
}
.hr-text:before, .hr-text:after {
    content: '';
    flex: 1;
    border-bottom: groove 2px;
    margin: auto 0.25em;
    border-color: rgba(255, 255, 255, .3);
}
